.container {
    max-width: 120ch !important;
}

/* indent mkdocstrings class contents */
.doc-class .doc-contents {
    margin-left: 1.5rem;
    padding-left: 1rem;

    border-left: 4px solid var(--md-primary-fg-color);
}

/* remove indentation for nested objects inside the class */
.doc-class .doc-contents .doc-contents {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}
